---
export const prerender = false;
import BaseLayout from "../../layouts/BaseLayout.astro";
import ViewCodeEditor from "../../components/ViewCodeEditor";
import { serverSideGetViewFileMetadata } from "../../lib/server/request";

const { id } = Astro.params;
if (!id) return Astro.redirect("/error");

// Fetch file metadata from the API
const metadata = await serverSideGetViewFileMetadata(id);

if (!metadata) {
	return Astro.redirect("/error");
}

const fileName = metadata.filename;
const parts = fileName.split(".");
const fileExtension =
	parts.length > 1 ? parts[parts.length - 1] || "txt" : "txt";

const title = "Viewing " + fileName;
---

<BaseLayout title={title}>
	<div
		class="dark:text-white text-black dark:bg-black bg-white flex flex-col h-full w-full"
	>
		<div class="border-b dark:border-gray-700 border-gray-300 p-4">
			<h1 class="text-xl font-bold">{fileName}</h1>
		</div>
		<div class="flex-1 flex flex-col overflow-hidden">
			<ViewCodeEditor
				id={id}
				extension={fileExtension}
				client:load
			/>
		</div>
	</div>
</BaseLayout>
