---
import BaseLayout from "../../../layouts/BaseLayout.astro";
---

<BaseLayout title="Edit - Not Found">
	<div class="h-full w-full flex items-center justify-center bg-red-800">
		<h1 class="text-white text-4xl">File Not Found</h1>
	</div>
</BaseLayout>
