---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Upload - Error">
	<div
		class="h-full w-full flex flex-col items-center justify-center bg-red-800"
	>
		<h1 class="text-white text-4xl">Not Found!</h1>
		<h1 class="text-neutral-200 text-lg">
			This link may be invalid or have expired
		</h1>
	</div>
</BaseLayout>
