---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Upload - Error">
	<div class="h-full w-full flex items-center justify-center bg-red-800">
		<h1 class="text-white lg:text-4xl md:text-2xl text-xl">
			This link is invalid or has expired
		</h1>
	</div>
</BaseLayout>
