---
import BaseLayout from "../layouts/BaseLayout.astro";
import UploadPlugin from "../components/UploadPlugin";
---

<BaseLayout title="Upload Plugins">
	<div class="w-full h-full flex flex-col">
		
	<UploadPlugin client:load />
	</div>
</BaseLayout>
